
/* @font-face {
  font-family: Rajdhani;
  src: url('../public/assets/fonts/Poppins-Regular.ttf');
}


.App {
    font-family: Rajdhani;
} */

@media (prefers-reduced-motion: no-preference) {

}

.border-gradient {
  border: 6px solid;
  border-image-slice: 1;
  border-width: 3px;
}

.border-gradient-purple {
  border-image-source: linear-gradient(to bottom, #743ad5, #d53a9d);
}
.border-gradient-green {
  border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}

